python-json-logger
fastapi
uvicorn
websockets
sqlalchemy
alembic
asyncpg
psycopg2-binary
pyrogram
tgcrypto
psutil
boto3
aiohttp
pyjwt
python-jose[cryptography]
pillow
python-multipart
python-dotenv
redis[hiredis]
python-telegram-bot==20.7
cryptography>=41.0.0