Host vps
    HostName 94.141.161.21
    User root
    IdentityFile ~/.ssh/id_ed25519_vps
    StrictHostKeyChecking no

Host new_vps
    HostName 94.141.161.21
    User root
    StrictHostKeyChecking no

Host auxiliary-testing-vps
    HostName 109.206.236.60
    User root
    IdentityFile ~/.ssh/id_rsa
    StrictHostKeyChecking no

Host aux-vps
    HostName 92.246.141.38
    User root
    Port 22
    IdentityFile ~/.ssh/id_rsa
    ConnectTimeout 60
    ServerAliveInterval 60
    ServerAliveCountMax 5
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
    LogLevel ERROR
    PreferredAuthentications publickey